* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: black;
  }
  
  .container {
    width: 100vw;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    color: white;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: left;
    padding: 20px;
    margin: 0;
    flex-direction: column;
  }

 h1 {
   font-size: 100px;
   padding: 0px;
   margin: 0px;
   font-weight: 800;
 }

 h2 {
   font-size: 50px;
   font-weight: 400;
   font-style: italic;
 }

 .general-button {
   padding: 30px;
   font-size: 30px;
   color: white;
   font-weight: 600;
   background: maroon;
   border-style: none;
 }
  
  .menu_overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    color: #fff;
    background: #3e1474;
    z-index: 100;
    transform: translateX(101%);
    transition: transform 0.5s ease;
  }
  
  .menu_overlay .fas {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 20px;
    font-size: 60px;
    transition: all 0.4s ease;
  }

  .menu_overlay .fas:hover {
    color: #674ddb;
    transform: scale(1.1) rotate(180deg);
  }
  
  .menu_overlay ul {
    height: 100%;
    width: 100%;
    list-style: none;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
  }

  .menu_overlay li {
      padding: 20px;
  }
  
  .menu_overlay a {
    color: #ffffff;
    transition: color 200ms ease;
    text-decoration: none;
    font-weight: 800;
  }
  
  .menu_overlay a:hover {
    color: #674ddb;
  }
  
  #menuBtn {
    display: none;
  }
  
  #menuBtn:checked ~ .menu_overlay {
    transform: translateX(0);
  }
  
  .landing_page {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .menu {
    position: fixed;
    padding: 20px;
    right: 0px;
    top: 0px;
  }
  
  .fas {
    font-size: 50px;
    color: white;
    transition: color 200ms ease;
  }
  
  .fas:hover {
    color: #674ddb;
  }

  .fa-times {
    font-size: 100px;
  }
  
  @media screen and (max-width: 650px) {
    .list a {
      font-size: 2rem;
    }

    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 15px;
    }
  }