* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
    background-color: black;
  }
  
  .container {
    width: 100vw;
    min-width: 100%;
    min-height: 100vh;
    position: relative;
    color: white;
  }

  .top-left-corner-logo {
    width: 100%;
    height: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    left: 0px;
    top: 0px;
    padding: 30px;
  }

 h1 {
   font-size: 60px;
   padding: 0px;
   margin: 0px;
   font-weight: 800;
 }

 h2 {
   font-size: 50px;
   font-weight: 400;
   font-style: italic;
 }
  
  .menu_overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    color: #fff;
    background: rgb(58, 13, 13);
    z-index: 100;
    transform: translateX(101%);
    transition: transform 0.5s ease;
  }
  
  .menu_overlay .fas {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 30px;
    font-size: 70px;
    transition: all 0.4s ease;
    background-color: rgb(58, 13, 13);
    border-radius: 10px;
  }

  .menu_overlay .fas:hover {
    color: lightsalmon;
    transform: scale(1.1) rotate(180deg);
  }
  
  .menu_overlay ul {
    height: 100vh;
    width: 100vw;
    list-style: none;
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .menu_overlay li {
      padding: 20px;
  }
  
  .menu_overlay a {
    color: #ffffff;
    transition: color 200ms ease;
    text-decoration: none;
    font-weight: 800;
    font-size: 60px;
  }
  
  .menu_overlay a:hover {
    color: lightsalmon;
  }
  
  #menuBtn {
    display: none;
  }
  
  #menuBtn:checked ~ .menu_overlay {
    transform: translateX(0);
    }
  
  .landing_page {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
.menu {
    position: fixed;
    padding: 30px;
    padding-top: 40px;
    right: 0px;
    top: 0px;
  }
  
.fas {
    font-size: 70px;
    color: white;
    transition: color 200ms ease;
  }
  
.fas:hover {
    color: lightsalmon;
  }

.fa-times {
    font-size: 100px;
  }

.corner-logo {
    width: 70px;
    height: auto;
  }

  .general-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding: 100px;
  }

  .spacer {
    height: 150px;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
  }

  h2 {
    font-size: 20px;
    padding-top: 20px;
  }

  .home-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    height: auto;
  }

  .bottom {
    text-decoration: none;
    color: lightseagreen;
    font-size: 20px;
    transition: color 200ms ease;
    padding: 30px;
  }

  a:hover {
    color: lightskyblue;
  }

  /* ~~~~~~ CHANGES BELOW 650px ~~~~~~ */
  
@media screen and (max-width: 650px) {

    .spacer {
      height: 100px;
    }

    h1 {
      font-size: 50px;
    }

    h2 {
      font-size: 15px;
    }

    .fas {
      font-size: 30px;
    }

    .menu {
      padding: 25px;
    }

    .top-left-corner-logo {
      padding: 20px;
      background-color: black;
    }

    .menu_overlay .fas {
      font-size: 40px;
      padding: 20px;
    }

    .menu_overlay a {
      font-size: 60px
    }

    .corner-logo {
      width: 30px;
    }

    .general-section {
      padding: 40px;
    }
  }